
.tuichu{
    margin-top: 5px;
}
.foodbox{
    margin:10px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.food{
    width: 50px;
    height: 40px;
}
.select{
    width: 30px;
    height: 30px;
}