body{
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    width: 350px;
    height: 300px;
    background-color: white;
    margin: 100px 0px 0px 700px;
   border-radius: 20px;
   box-shadow: 0px 0px 30px rgb(201, 198, 198);

}
.login-box{
    height: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.login-box2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-box3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
}
.denglu:hover{

    color: red;
}
.zhuce:hover{
    color: red;
}

